{% extends "_layouts/cp" %}
{% set title = "Edit Menu"|t %}


{% import "_includes/forms" as forms %}

{% block content %}
	<form method="post"
	      accept-charset="UTF-8"
	      data-saveshortcut="1">
		{{ getCsrfInput() }}

		<input type="hidden"
		       name="action"
		       value="thrifty/menus/saveMenu">
		<input type="hidden"
		       name="redirect"
		       value="thrifty/menus">
		{% if menu.id %}<input type="hidden"
		                       name="menuId"
		                       value="{{ menu.id }}">{% endif %}
		{% if menu.structureId %}<input type="hidden"
		                                name="structureId"
		                                value="{{ menu.structureId }}">{% endif %}


		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this menu will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: menu.name,
			errors: menu.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this menu in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: menu.handle,
			errors: menu.getErrors('handle'),
			required: true
		}) }}

		{{ forms.textField({
			label: "Max Levels"|t,
			instructions: "The maximum number of levels this menu can have. Leave blank if you don’t care."|t,
			id: 'maxLevels',
			name: 'maxLevels',
			value: menu.maxLevels,
			size: 5,
			errors: menu.getErrors('maxLevels')
		}) }}

		{{ forms.selectField({
			label: "Nav Type"|t,
			instructions: "Based on bootstrap nav markup styles."|t,
			id: 'type',
			name: 'type',
			value: menu.type,
			options: ['Tabs', 'Pills', 'Navbar', 'Plain ul'],
			errors: menu.getErrors('type')
		}) }}

		<hr>


		<div class="buttons">
			<input type="submit"
			       class="btn submit"
			       value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}


{% set js %}
	{% if not menu.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}
