{% extends "_layouts/cp" %}
{% set title = "Menus"|t %}

{% set tabs = {
menus:    { label: "Manage"|t, url: url('thrifty/menus') },
nodes: { label: "Nodes"|t, url: url('thrifty/menus/nodes') }
} %}

{% set selectedTab = 'menus' %}

{% set extraPageHeaderHtml %}
	<div id="newmenucontainer"
	     class="buttons">
		<a href="{{ url('thrifty/menus/new') }}"
		   class="btn submit add icon">{{ "New menu"|t }}</a>
	</div>
{% endset %}

{% set content %}
	<div id="nomenus"{% if menus %} class="hidden"{% endif %}>
		<p>{{ "No menus exist yet."|t }}</p>
	</div>

	{% if menus|length %}
		<table id="menus"
		       class="data fullwidth collapsible">
			<thead>
			<th scope="col">{{ "Name"|t }}</th>
			<th scope="col">{{ "Handle"|t }}</th>
			<td class="thin"></td>
			</thead>
			<tbody>
			{% for menu in menus %}
				<tr data-id="{{ menu.id }}"
				    data-name="{{ menu.name|t }}">
					<th scope="row"
					    data-title="{{ 'Name'|t }}">
						<a href="{{ url('thrifty/menus/' ~ menu.id) }}">{{ menu.name|t }}</a></th>
					<td data-title="{{ 'Handle'|t }}"><code>{{ menu.handle }}</code></td>
					<td class="thin"><a class="delete icon"
					                    title="{{ 'Delete'|t }}"
					                    role="button"></a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endset %}

{% set js %}
	var adminTable = new Craft.AdminTable({
	tableSelector: '#menus',
	noObjectsSelector: '#nomenus',
	newObjectBtnSelector: '#newmenucontainer',
	deleteAction: 'thrifty/menus/deleteMenu',
	confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its nodes?"|t }}'
	});
{% endset %}

{% includeJs js %}
