{% extends "_layouts/cp" %}

{% set title = "SEO"|t %}
{% set sitemapUrl = siteUrl ~ "sitemap.xml" %}

{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% set tabs = {
general:    { label: "General"|t, url: url('thrifty/seo') },
social:    { label: "Social"|t, url: url('thrifty/social') },
sitemap: { label: "Sitemap"|t, url: sitemapUrl }
} %}

{% set selectedTab = 'general' %}

{% block content %}

	<div class="alert alert-info"
	     role="alert">
		<strong>Heads up!</strong> These settings allow you to set default meta values for your website and you can
		override these defaults per entry.
	</div>

	<input type="hidden"
	       name="action"
	       value="thrifty/meta/saveMeta">
	<input type="hidden"
	       name="redirect"
	       value="thrifty/seo">

	{{ forms.textField({
		first: true,
		label: "SEO Title"|t,
		id: 'seoGlobalTitle',
		name: 'seoGlobalTitle',
		value: settings.seoGlobalTitle,
		errors: settings.getErrors('seoGlobalTitle'),
		autofocus: true,
		placeholder: siteName,
		translatable: true
	}) }}

	{% set textarea %}
		{{ forms.textarea({
			id: 'seoGlobalDesc',
			name: 'seoGlobalDesc',
			value: settings.seoGlobalDesc,
			errors: settings.getErrors('seoGlobalDesc'),
			translatable: true,
			rows: 4
		}) }}
	{% endset %}

	{{ forms.field({
		first: true,
		label: "SEO Description"|t,
		translatable: true,
	}, textarea) }}

	{{ forms.textField({
		label: "SEO Keywords"|t,
		id: 'seoGlobalKeywords',
		name: 'seoGlobalKeywords',
		value: settings.seoGlobalKeywords,
		errors: settings.getErrors('seoGlobalKeywords'),
		autofocus: true,
		translatable: true
	}) }}
{% endblock %}
