<title>{{ title }}</title>
<meta name='description'
      content='{{ desc }}'>
<meta name='keywords'
      content='{{ keywords }}'>

<!-- Advanced SEO -->
<link rel='canonical'
      href='{{ craft.request.url }}' />
<link rel='home'
      href='{{ siteUrl }}' />

{% if googlePageUrl %}
	<link rel='publisher'
	      href='{{ googlePageUrl }}' />
{% endif %}

<!-- Open Graph -->
<meta property='og:title'
      content='{{ title }}' />
<meta property='og:type'
      content='website' />
<meta property='og:url'
      content='{{ craft.request.url }}' />
<meta property='og:site_name'
      content='{{ siteName }}' />
<meta property='og:image'
      content='{{ shareImageUrl }}' />

{% if facebookPageUrl %}
	<meta property='article:publisher'
	      content='{{ facebookPageUrl }}' />
{% endif %}

{% if twitterUsername %}
	<meta name='twitter:card'
	      content='summary' />
	<meta name='twitter:description'
	      content='{{ desc }}' />
	<meta name='twitter:title'
	      content='{{ title }}' />
	<meta name='twitter:site'
	      content='@{{ twitterUsername }}' />
	<meta name='twitter:image:src'
	      content='{{ shareImageUrl }}' />
	<meta name='twitter:creator'
	      content='@{{ twitterUsername }}' />
{% endif %}