/* Import */

@import "codemirror";
@import "font-awesome.min";

/* Styles */

.icons .fa {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	font-size: 40px;
	line-height: 60px;
	left: 0;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.4;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}