{% extends "_layouts/cp" %}
{% set title = "Thrifty"|t %}

{% set content %}

	<h2>General</h2>
	<ul class="icons">
		<li>
			<a href="{{ url('thrifty/menus') }}">
				<i class="fa fa-bars"></i>
				Menus
			</a>
		</li>
		<li>
			<a href="{{ url('thrifty/seo') }}">
				<i class="fa fa-search"></i>
				SEO
			</a>
		</li>
	</ul>

{% endset %}