{% extends "_layouts/elementindex" %}
{% set title = "Menus"|t %}

{% set tabs = {
menus: { label: "Manage"|t, url: url('thrifty/menus') },
nodes: { label: "Nodes"|t, url: url('thrifty/menus/nodes') }
} %}

{% set selectedTab = 'nodes' %}

{% set elementType = 'Thrifty_MenusNode' %}

{% set extraPageHeaderHtml %}
	{% if menus|length %}
		<div class="buttons">
			{% if menus|length > 1 %}
				<div class="btn submit menubtn add icon">{{ "New node"|t }}</div>
				<div class="menu">
					<ul>
						{% for menu in menus %}
							<li><a href="{{ url('thrifty/menus/'~menu.handle~'/new') }}">{{ menu.name|t }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<a class="btn submit add icon"
				   href="{{ url('thrifty/menus/'~menus[0].handle~'/new') }}">{{ "New node"|t }}</a>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% block sidebar %}
	{% if menus|length %}
		{% if sources is not empty %}
			<nav>
				{% include "_elements/sources" %}
			</nav>
		{% endif %}
	{% else %}

	{% endif %}
{% endblock %}


{% block content %}
	{% if menus|length %}
		<div class="elementindex">
			{% include "_elements/indexcontainer" %}
		</div>
	{% else %}
		<p>To add a node you need to associate it to a menu.</p>
		<a href="{{ url('thrifty/menus/new') }}"
		   class="btn submit">Create your first menu</a>
	{% endif %}
{% endblock %}